:root {
    --background: #121214;
    --ignite-green: #00875f;
    --ignite-light: #00b37e;
    --ignite-dark: #015f43;
    --ignite-low: #00291d;
    --ignite-mid: #00875f;
    --discover-blue: #4863f7;
    --discover-low: #182049;
    --green: #04d361;
    --green-low: #1c2a24;
    --green-darker: #0f3924;
    --success-low: #051b0d;
    --red: #ce4a4a;
    --red-light: #eb3223;
    --red-darker: #3d1b23;
    --error: #e83f5b;
    --orange: #ff7a29;
    --orange-darker: #412c17;
    --orange-darkness: #593918;
    --yellow: #ffcd1e;
    --primary: #8257e5;
    --primary-darker: #28203e;
    --primary-hover: #9466ff;
    --primary-border: #6833e4;
    --primary-shape: #734bd1;
    --primary-light: #996dff;
    --gray: #e1e1e6;
    --text: #a8a8b3;
    --base-text: #c4c4cc;
    --support: #737380;
    --shape: #202024;
    --shape-dark: #3c3c42;
    --shape-hover: #29292e;
    --icons: #41414d;
    --attention: #fd951f;
    --warning-light: #fba94c;
    --warning-base: #eb8a1d;
    --borders: #323238;
    --experts: #db3a2c;
    --dowhile: #ff068a;
    --explorer: #42d3ff;
    --explorer-dark: #065e7c;
    --explorer-lab: #0045c5;
    --black: #09090a;
    --white: #fff;
    --scrollbar: #4d4d57;
    --scrollbar-background: transparent;
    --discover: #6a80ff;
}

body {
    --preto: #1f192f;
    --azul-Marinho: #2d6073;
    --azul: #00a8c6;
    margin: 0;
    background-color: #f1f0ee!important;
}

nav.bg-header{
    background-color: black;
}

nav .navbar-brand, nav .nav-link {
    color: white;
}
nav .nav-link:hover, nav .navbar-brand:hover{
    color: var(--primary);
}

nav .nav-link:hover {
    border-bottom: 1px solid var(--primary);
}

nav .container-fluid {
    display: flex;
    justify-content: space-between;
}

nav .container-fluid .btn-pesquisa{
    color: white;
    background-color: var(--primary);
    border: none;
}

main .banner {
    background-image: url('../imagens/bgum1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-position: initial;
}

main .banner h1, main .titulo {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .titulo{
    color: var(--base-text);
}

main {
    background-color: black;
}

main .container-eventos {
    background-image: url('../imagens/pg_principal/universoBg.jpg');
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    margin-bottom: 10px;
}
main .img-evento {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
main .card {
    padding: 30px;
    border-radius: 12px;
}

main .card-body{
    color: var(--base-text);
}

main .card-body .btn.btn-info{
    background-color: var(--primary);
    border: none;
    color: white;
}

main .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

main .banner-2 {
    background-image: url('../imagens/bgum1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-attachment: fixed;

    height: 400px;
    display: flex;
}

#container_formulario {
    border-radius: 10px;
}
#container_titulo {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 10px 10px 0 0;
}




@media screen and (max-width: 575px) {
    #container_formulario {
        max-width: 95%;
    }
}

@media screen and (max-width: 768px) {
    main .banner {
        background-size: 100%;
        background-attachment: scroll;
        height: 250px;
    }

    main .banner-2 {
        display: none;
    }
}

body.bg-formulario{
    background-image: url('../imagens/pg_principal/universoBg.jpg');
}

button.btn-cancelar{
    background-color: var(--primary);
    border:none;
    color:white;
}